atomicwrites
attrs
certifi
colorama
cycler
iniconfig
kiwisolver
matplotlib
mkl-fft
mkl-random
mkl-service
more-itertools
numpy
olefile
packaging
pandas
Pillow
pip
pluggy
py
pyparsing
pytest
python-dateutil
pytz
scipy
seaborn
setuptools
sip
six
toml
tornado
wheel
wincertstore
